<mat-toolbar color="primary" class="header">
    <mat-toolbar-row class="professeurList">
         <h1 class="example-app-name">Création d'un professeur</h1>
         <div class="professeurList-menu">
            <button mat-flat-button [routerLink]="['/professeur']">Retour</button>
            <button mat-flat-button (click)="creerProfesseur()" [disabled]="registrationForm.invalid">Valider</button>
         </div>
    </mat-toolbar-row>
</mat-toolbar>
<form class="form" [formGroup]="registrationForm">
    <mat-card appearance="outlined">
        <mat-card-header><h3>Données du professeur</h3></mat-card-header>
        <mat-card-content class="donnees-professeur">
            <mat-form-field appearance="outline">
                <mat-label>Nom</mat-label>
                <input matInput formControlName="nom">
            </mat-form-field>
            <!--mat-form-field appearance="outline">
                <mat-label>Prenom</mat-label>
                <input matInput formControlName="prenom">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Adresse</mat-label>
                <input matInput formControlName="adresse">
            </mat-form-field-->
        </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined">
        <mat-card-header><h3>Affectation matière du professeur</h3></mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <mat-label>Matiere</mat-label>
                <mat-select formControlName="matiere">
                    @for (matiere of matiereList; track matiere) {
                        <mat-option [value]="matiere">{{matiere.nom}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </mat-card-content>
    </mat-card> 
    <mat-card appearance="outlined">
        <mat-card-header><h3>Affectation classes du professeur</h3></mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <mat-label>Classe</mat-label>
                <mat-select formControlName="classe" multiple>
                    @for (classe of classeList; track classe) {
                        <mat-option [value]="classe">{{classe.nom}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </mat-card-content>
    </mat-card>           
</form>